.header-section{
    
}
.card-section{
    margin-top:40px;


}
.footer-section{
    margin:0 auto;
  
    
}
.header{
    height: 800px;
}
.form-group{
    margin: 0 auto;
    background:lightpink;
}